 
{% extends "blog/base.html"%}

{% block content %}
    {% for post in posts %}
        <div class="container">
             
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.created_date | date:"F d, Y"}}</h6>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="#" class="card-link">{{post.author}}</a>
                 </div>
            </div>
        </div>

    {% endfor %}
{% endblock content %}
    
 